* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

/* Color Vars */
/* Change depending on theme:: remove Dark/Light from here and toggle through js*/
:root {
    --bgLight: #e8ecff;
    --bgDark: #111213;

    --accent: lightblue;

    --primaryLight: blue;
    --primaryDark: #ffffff;

    --secondaryLight: white;
    --secondaryDark: #4e5257;
}

body {
    color: var(--primaryDark);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bgDark);
}

/* NAV STYLE STARTS */
header {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: var(--primaryDark);
    font-size: 30px;
    margin: 15px 0;
    padding: 10px 10px 10px 40px;
}

header nav ul {
    display: flex;
    width: 450px;
    list-style: none;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
}

header nav ul li a {
    display: block;
    color: var(--primaryDark);
    transition: transform .2s;
}

header nav ul li a:hover, header nav ul li a:active {
    border-bottom: 3px solid;
    border-color: var(--primaryDark);
    text-decoration: none;
    transform: scale(1.1);
}
/* NAV STYLE ENDS*/

footer {
    text-align: center;
}

/* HERO STYLE STARTS */
.cover {
    background-color:  var(--bgDark);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
}

.cover .profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.cover .profilepic div {
    width: 200px;
}

.cover img {
    width: 100%;
}

.cover .intro {
    margin: 50px;
    text-align: center;
    display: inline-block;
}

.cover .intro h1 {
    font-family: 'Roboto Mono', monospace;
    border-right: .15em solid var(--primaryDark);
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: .15em; 
}

.cover .intro h1:nth-child(1) {
    animation: typing 3s steps(30, end), blinking-selector .5s step-end 6 alternate;
    animation-fill-mode: forwards;
}

.cover .intro h1:nth-child(2) {
    width: 11.3em;
    opacity: 0;
    animation: typing2 3.5s steps(30, end), blinking-selector .5s step-end infinite alternate;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
  
 /* The typing effect */
 @keyframes typing {
    0% { width: 0; }
    99.9% { border-right: .15em solid var(--secondaryDark); }
    100% { 
        border: none;
        width: 87%;
    }
}

@keyframes typing2 {
    0% { 
        width: 0;
    }
    1% { opacity: 1;}
    100% { 
        border-right: .15em solid var(--secondaryDark);
        opacity: 1;
        width: 100%;
    }
}
  
/* The typewriter cursor effect */
@keyframes blinking-selector {
    50% { border-color: transparent; }
}

/* info/about tab */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
	transition: all 0.2s ease;
}

.info .bio {
    text-align: center;
    overflow: hidden;
    background: #303940;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    margin-bottom: 10px;
    transition: width .5s ease, height .2s ease
}

.info.active .bio {
    width: 90%;
    height: 105px;
	background: #303940;
    transition: width .5s ease, height .5s ease
}

.bio i.infoBtn {
	color: rgba(255, 255, 255, .6);
	display: block;
}

.info .fa-info {
	padding: 8px;
	cursor: pointer;
	display: block;
}

.info.active .fa-info {
	display: none;
}

.info .fa-angle-down {
	cursor: pointer;
    display: none;
}

.info.active .fa-angle-down {
	display: block;
}

.info.active h4 {
    display: none;
}

.info p {
    text-align: center;
    padding: 24px;
	display: none;
}

.info.active p {
	display: block;
}

/* HERO STYLE ENDS*/

/* SECTIONS STYLE STARTS */
.sections {
    display: flex;
    margin: 50px auto;
    width: 80%;
}

.section-title {
    font-size: 48px;
    color: var(--primaryDark);
    border-right: 3px solid;
    padding-right: 20px;
    text-align: end;
    width: 200px;
    text-transform: uppercase;
}

/* APPLICATIONS */
.applications ul li {
    width: 250px;
    margin: 10px 0 0 22px;
    list-style: none;
}

.applications ul li:first-child {
    width: 400px;
}

.applications a {
    display: flex;
    position: relative;
}

.applications a img {
    width: 100%;
    transition: filter .5s;
    filter: contrast(0.5);
}

.applications a img:hover {
    filter: contrast(1);
}

.applications ul li a div {
    background-color: var(--primaryDark);
    color: var(--bg);
    position: absolute;
    bottom: 15%;
}

.applications h3 {
    margin: 10px 6px 3px 20px;
}

.applications h5 {
    margin: 5px 6px 6px 20px;
}
/* APPLICATION ENDS */

/* CONTACT STARTS */
.contact-info {
    align-items: center;
    margin: 0 0 0 22px;
    flex-wrap: wrap;
}

.contact-info ul {
    display: flex;
    list-style: none;
}

.contact-info ul li {
    padding: 0 5px;
}

.contact-info ul li a {
    color: #024e76;
    padding: 5px 5px;
    border-bottom: 3px solid;
    border-color: #024e76;
    text-decoration: none;
}
/* CONTACT ENDS */

.flex-row {
    display: flex;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .contact-info ul li {
        font-size: 13px;
        padding: 0 5px;
    }

    .section-title{
        font-size: 40px;
    }
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: normal;
    }

    header h1 {
        font-size: 30px;
        margin: 0;
        text-align: center;
    }

    header nav {
        align-self: center;
        padding: 0;
    }

    header nav ul li {
        padding: 4px;
        border-bottom: 0;
        border-left: 3px solid var(--accent);
    }

    header nav ul li a {
        border-bottom: 0;
    }

    .cover h2 {
        width: 375px;
    }

    #profilePic {
        margin: 10px 10px 30px 130px;
    }

    .contact-info ul {
        display: flex;
        list-style: none;
        flex-flow: column;
    }

    .contact-info ul li {
        padding: 10px;
    }

    .applications, .sections ul {
        display: contents;
    }


 
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .cover {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .cover h2 {
        margin: 5px;
        width: 375px;
    }

    #profilePic {
        width: 130px;
        margin: 10px;
    }

    .sections {
        flex-direction: column;

    }

    .section-title {
        border-right: 0;
        border-bottom: 3px solid;
        text-align: center;
        padding: 0;
    }

    .headerTwo {
        align-self: center;
    }

    .cover h2 {
        font-size: 20px;
    }

    .section-title {
        font-size: 30px;
    }

    .applications, .bio, .contact-info {
        padding-top: 10px;
    }
    .applications ul li:first-child {
        width: 250px;
    }

    .applications ul li {
        width: 170px;
    }
    

}